{% extends "base_generic.html" %}

{% block content %}
<ul class="messages">
{% for message in messages %}
	{% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>成功</strong> {{message}}
	</div>
	{% elif message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>错误</strong> {{message}}
	</div>
	{% else %}
	<div class="alert alert-warning alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>其他</strong> {{message}}
	</div>
	{% endif %}
{% endfor %}
</ul>
{% load static %}
<div>
	<h1 class="d-flex justify-content-between">
		<div>
			<img src="{% static 'img/WindowIcons/grouplist.png' %}" alt="" width="64" height="64">
			成员列表
		</div>
		<div>
			<img class="rounded-circle" src="https://image.evepc.163.com/Corporation/{{corp.ingame_id}}_64.png" alt="" width="64" height="64">
			{{corp}}
		</div>
	</h1>
</div>



<div class="col bg-light text-body">
	<table id="memlist" class="display">
	{% for user in userlist %}
	{% if forloop.first %}
		<thead>
			<tr>
				<th>用户名</th>
				<th>角色</th>
				<th>权限</th>
				<th>DKP</th>
				<th>注册时间</th>
				<th>上次登录</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
	{% endif %}
		<tr>
			<td {% if user.profile.donate > 0 %}class="rainbow-text"{% endif %}>{% if user.profile.nickname %}{{user.profile.nickname}}（{{user.get_username}}）{% else %}{{user.get_username}}{% endif %}</td>
			
			<td>
			{% for char in evecharacter %}
			{% if char.bounduser == user %}
			<div class="pt-1">
			<img class="rounded-circle" src="https://image.evepc.163.com/Character/{{char.ingame_id}}_128.jpg" alt="" width="32" height="32">
				{{char}}
			</div>
			{% endif %}
			{% endfor %}
			</td>
			
			<td>
			{% for group in user.groups.all %}
				{% if group.name == '军团成员' %}
					<label class="badge badge-primary">{{ group }}</label>
				{% elif group.name == '后勤官' %}
					<label class="badge badge-success">{{ group }}</label>
				{% elif group.name == '人事' %}
					<label class="badge badge-info">{{ group }}</label>
				{% elif group.name == 'CEO' %}
					<label class="badge badge-danger">{{ group }}</label>
				{% elif group.name == '统计官' %}
					<label class="badge badge-warning">{{ group }}</label>
				{% elif group.name == '总监' %}
					<label class="badge badge-danger">{{ group }}</label>
				{% else %}
					<label class="badge badge-secondary">{{ group }}</label>
				{% endif %}
			{% endfor %}
			</td>
			
			<td>{{user.profile.dkp}}</td>
			
			<td>{{user.date_joined}}</td>
			
			<td>{{user.last_login}}</td>
			{% load auth_extras %}
			<td class="text-center">
				{% if request.user|has_group:"人事" %} 
					<div id="kickorset{{forloop.counter}}">
						<button id="kickmember{{forloop.counter}}" class="btn btn-danger">移除成员</button>
						<a href="{% url 'give-job' user.pk %}" class="btn btn-primary" role="button">设置职位</a>
					</div>
					
					<div id="kickconfirm{{forloop.counter}}" class="p-1 rounded border"style="display:none;">
						<p>你确定要移除<span {% if user.profile.donate > 0 %}class="rainbow-text"{% endif %}>
						{% if user.profile.nickname %}{{user.profile.nickname}}（{{user.get_username}}）{% else %}{{user.get_username}}
						{% endif %}</span>吗？
						</p>
						<a href="{% url 'kick-user' user.get_username %}" class="btn btn-danger" role="button"><i class="fa fa-check" aria-hidden="true"></i></a>
						<button id="cancel{{forloop.counter}}" class="btn btn-primary"><i class="fa fa-times" aria-hidden="true"></i></button>
					</div>
					
				{% endif %}
				<script>
					$("#kickmember{{forloop.counter}}").click(function(){
						$("#kickorset{{forloop.counter}}").css("display","none");
						$("#kickconfirm{{forloop.counter}}").css("display","block");
					});

					$("#cancel{{forloop.counter}}").click(function(){
						$("#kickorset{{forloop.counter}}").css("display","block");
						$("#kickconfirm{{forloop.counter}}").css("display","none");
					});
				</script>
			</td>
			
			</tr>
	
	{% if forloop.last %}
		</tbody>
		<tfoot>
			<tr>
				<th>用户名</th>
				<th>角色</th>
				<th>权限</th>
				<th>DKP</th>
				<th>注册时间</th>
				<th>上次登录</th>
				<th>操作</th>
			</tr>
		</tfoot>
	{% endif %}
	{% endfor %}
	</table>
</div>




<script>
	$(document).ready(function() {
    $('#memlist').DataTable();
	} );
</script>









{% endblock %}