{% extends "base_generic.html" %}
{% block content %}
<ul class="messages">
{% for message in messages %}
	{% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>成功</strong> {{message}}
	</div>
	{% elif message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>错误</strong> {{message}}
	</div>
	{% else %}
	<div class="alert alert-warning alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>其他</strong> {{message}}
	</div>
	{% endif %}
{% endfor %}
</ul>
{% load static %}

<div>
	<h1 class="d-flex justify-content-between">
		<div>
			<img src="{% static 'img/WindowIcons/notepad.png' %}" alt="" width="64" height="64">
			发布公告
		</div>
		<div>
			<img class="rounded-circle" src="https://image.evepc.163.com/Corporation/{{user.profile.pcharacter.corp.ingame_id}}_64.png" alt="" width="64" height="64">
			{{user.profile.pcharacter.corp}}
		</div>
	</h1>
</div>

<div>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="input-group">
		{{form.title}}
		</div>
		
		<div class="input-group mt-3">
		{{form.body}}
		</div>
		<button id="submit" class="btn btn-outline-success mt-3" type="submit" style="width:100%;">发布公告</button>
		<button onclick="goBack()" class="btn btn-outline-primary" type="button" style="width:100%;margin-top:5px;">返回</button>
	</form>
	<span>军团首页最多可以显示10条公告，每条公告上限为500字，超过10条公告时最早发布的公告会被删除。</span>
</div>
{% endblock %}