{% extends "base_generic.html" %}
{% block content %}
<ul class="messages">
{% for message in messages %}
	{% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>成功</strong> {{message}}
	</div>
	{% elif message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>错误</strong> {{message}}
	</div>
	{% else %}
	<div class="alert alert-warning alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>其他</strong> {{message}}
	</div>
	{% endif %}
{% endfor %}
</ul>
{% load static %}

<div>
	<h1>
		<img src="{% static 'img/WindowIcons/recruitment.png' %}" alt="" width="64" height="64">
		变更职位
	</h1>
</div>

<div>
	<img class="rounded" src="https://image.evepc.163.com/Character/{{user.profile.pcharacter.ingame_id}}_128.jpg" alt="" width="128" height="128">
	变更<span {% if user.profile.donate > 0 %}class="rainbow-text"{% endif %}>{% if user.profile.nickname %}{{user.profile.nickname}}（{{user.get_username}}）{% else %}{{user.get_username}}{% endif %}</span>的职位
</div>

<div>
	<form action="" method="post">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" class="btn btn-primary" value="确认更改">
		<a href="{% url 'corp-mem-list' request.user.profile.pcharacter.corp_id %}" class="btn btn-info" role="button">返回</a>
	</form>
</div>




{% endblock %}