.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* Remove default bullets */
ul, #mktUL {
  list-style-type: none;
}

ul{
	padding-inline-start: 10px;
}

/* Remove margins and padding from the parent ul */
#mktUL {
  margin: 0;
  padding: 0;
}


.mktcaret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.mktcaret::before {
  content: "\f04b";
  font-family: FontAwesome;
  color: white;
  font-size:10px;
  display: inline-block;
  margin-right: 6px;
}

.mktcaret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}


/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}


#sidebar {
	min-height: 100vh;
	min-width: 100%;
}
#sidebarcell{
	
	min-height: 35px;
	margin-top:0px;
	padding-left:64px;
	border-bottom:#343a40 1px solid;
}

#sidebarcell:hover{
	background-color:#545b62;

}

.navbar-title{
	padding-left:1em;
	padding-top:1em;
	padding-bottom:0.5em;
	font-weight: bold;
}

.bg-dark{
	background-color:#1c2023 !important;
	margin-right:1em;
}

.sidebar-header{
	width:100%;
	top:0;
	display:flex;
	border-bottom: 1px solid #464a52;
	box-shadow: 0px 1px 5px #282c33;
}

.sidebar-footer{
	position: absolute;
	width:100%;
	bottom:0;
	display:flex;
	border-top: 1px solid #464a52;
	box-shadow: 0px -1px 5px #282c33;
}

.sidebar-info{
	border-bottom: 1px solid #464a52;
	box-shadow: 0px 1px 3px #282c33;
}

.float-right{
	margin-top:2%;
	
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #1eea4d;
  border-radius: 50%;
  display: inline-block;
}

.mkt-nav-btn{
	min-width:100%;
	text-align:left;
	border-radius: 0px !important;
	margin:0px;
}

.itemlist {
  height:80vh;
  overflow-y: scroll;
}

.line-limit-length {
	max-width:200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, #a75ae0, #42beda, lime, yellow, orange, #f33434, violet);
  background-size: 500% 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}