<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>圈圈SDE测试</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body id="bg" class="bg-dark text-white" style="background-image:url({% static 'img/bg/3.jpg' %});background-size:cover">
	{% if headInfo %}
		<div class="row bg-warning p-3 text-center text-body">
		<img src="{% static 'img/WindowIcons/aggression.png' %}" alt="" width="64" height="64">
			<div class="col">
			<strong>
				{{headInfo|linebreaks}}
				</strong>
			</div>
			<img src="{% static 'img/WindowIcons/aggression.png' %}" alt="" width="64" height="64">
		</div>
	  {% endif %}
	<div class="container pt-3" style="min-height:80vh;">
      {% block content %}{% endblock %}
	</div>
</body>
</html>