{% block content %}
<script>
	var cart = {{user_cart_count}};
</script>
			{% for invtype,price,stock in data %}
					<div class="p-2 border border-top-0 border-left-0 border-right-0 border-secondary text-light">
						<h4><img src="https://image.evepc.163.com/Type/{{invtype.typeid}}_64.png" alt="" width="64" height="64"> {{ invtype.typename }}</h4>
						<span>{{ invtype.description }}</span>
						<p class="pt-2">估价：<label id="p{{invtype.typeid}}" class="font-weight-bold" style="font-size: large;"></label></p>
						<p>库存：{{stock}}</p>
						<form id="buy{{invtype.typeid}}" class="d-flex" method="POST">
							{% csrf_token %}
							<input type="number" id="quantity{{invtype.typeid}}" class="form-control" value="1" style="width: 80px" min="1" max="10000000" />
							<input type="submit" value="添加到购物车" class="btn btn-danger" style="margin-left:10px;" role="button"/>
						</form>
						<div class="pt-2">
							<p id="re{{invtype.typeid}}" ></p>
						</div>
					</div>
					
					<script>
						document.getElementById("p{{invtype.typeid}}").innerHTML=formatCurrency({{price}})
						$('#buy{{invtype.typeid}}').on('submit',function(e){
							e.preventDefault();
							$.ajax({
								type:"POST",
								url:"{% url 'add-cart' invtype.typeid %}",
								data:{
									item : '{{invtype.typeid}}',
									quantity : $('#quantity{{invtype.typeid}}').val(),
									price : '{{price}}',
									csrfmiddlewaretoken: '{{ csrf_token }}',
									dataType:"json",
								},
								success: function(data){
									$('#re{{invtype.typeid}}').addClass("alert alert-success");
									$('#re{{invtype.typeid}}').html(data.msg)
								},
								failure:function(){
								}
							});
							if (cart < 16) {
								cart ++;
							}
							
							$('#cart').html(cart);
						});
					</script>
			{% empty %}
				<p class="text-center">当前筛选条件下没有任何物品</p>
			{% endfor %}

{% endblock %}